body{
    overflow-x: scroll;
}

.columna .col{
    background-color: azure;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    overflow-x:scroll;
    
}

.head .col{
    overflow-x: hidden;
    font-size: 13px;
    text-align: left;
    background-color:  rgb(30, 114, 209);
    color: white;
    font-weight: bold;
}

.container-xxl{
    border-color: rgb(0, 139, 252);
    border-width: 2px;
    border-style: solid;
}

.columna .col{
    font-size: 13px;
    background-color: rgb(30, 158, 209);
    color: white;

}

.columna .col::-webkit-scrollbar{
    width: 8px;    
    height: 8px; 
}

.columna .col::-webkit-scrollbar-track{
    background-color: cadetblue;
}

.columna .col::-webkit-scrollbar-thumb{
    background-color: azure;
}
